body {
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 80px;
  letter-spacing: 4px;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  color:#1597bb;
  border: 3px solid #f0e4d7;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:#ff7171;
}

.game-board{
  padding: 20px;
  border: 10px solid #f5c0c0;
  background-color: #9fd8df;
  display: flex;
}

.memory-card{
  width: 100px;
  height: 100px;
  margin: 5px;
  box-shadow: 5px 5px 5px gray;
  display: inline-block;
  perspective: 600px;
}

.memory-card-md{
  width: 80px;
  height: 80px;
  margin: 3px;
  box-shadow: 3px 3px 3px gray;
  display: inline-block;
  perspective: 600px;
}

.memory-card-lg{
  width: 60px;
  height: 60px;
  margin: 2px;
  box-shadow: 2px 2px 2px gray;
  display: inline-block;
  perspective: 600px;
}

.inactive {
  display: none;
}

.start-page {
  text-align: center;
  padding: 70px;
  background-color: #f5c0c0;
}

.btn {
  border-radius: 15px;
  line-height: 3;
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
  border:#1597bb 2px solid;
  box-shadow: 5px 5px 5px gray;
  background-color: #9fd8df;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.btn:active {
  box-shadow: 2px 2px 5px darkgray;
  transform: translateY(3px);
}

.btn:hover {
  opacity: 0.7;
}

.new-game-btn {
  border: #ff7171 2px solid;
  background-color: #f5c0c0;
}

.score-btn {
  border: #f5c0c0 2px solid;
  background-color: #ff7171;
}

.attributes {
  text-align: center;
  background-color: #f0e4d7;
  padding: 20px;
}

a {
  color:#1597bb;
}

.no-click {
  pointer-events: none;
}

img {
  max-height:100%;
  max-width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px; */
  /* color: white; */
  /* text-align: center;
  font-weight: bold;
  font-size: 40px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.easy-board {
  margin: auto;
}

.medium-board {
  margin: auto;
}

.hard-board {
  margin: auto;
}

.header {
  text-align: center;
  height: 100px;
  background-color: #ff7171;
  color: #f0e4d7;
}

.score-board {
  width:40%;
}

.result-div {

}

.timer-div, .score-div, .pairs-div {
  border-radius: 20px;
  background-color: #f0e4d7;
  color: #ff7171;
  box-shadow: 3px 3px 5px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  max-width:80%;
  padding-left: 20px;
  line-height: 2;
  margin: auto;
}

#time, #moves, #pairs {
  font-weight: bold;
  font-size: 1.7rem;
  color: #1597bb;
}

/* .fastest-time, .least-moves {
  border-radius: 20px;
  background-color: #f0e4d7;
  color: #1597bb ;
  box-shadow: 3px 3px 5px #ff7171;
  padding-left: 20px;
  max-width: 80%;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
} */

.result {
  display: inline-block;
  width:30%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 14px;
  margin-bottom: 40px;
}

.row div {
  width: 32%;
  display:inline-block;
}

.moves-heading {
  margin-top: 40px;
}

.row {
  font-size: 14px;

}





.row:nth-child(odd) {
    background-color: #f0e4d7;
}
.row:nth-child(even) {
    background-color: transparent;
}

.first {
  color: #1597bb;
  font-size: 16px;
  padding-bottom: 5px;
}
/*
#9fd8df



 */
